
<form '/links' method= "post">
  <h1> Form for adding new links: </h1>
  <strong>
    <fieldset>
      <legend>Title</legend>
      <ul>
        <li>
          <label for="title"> Title:
            <input type ="text" id = "title" name="title">
          </label>
          <label for="url"> Title:
            <input type ="text" id = "url" name="url">
          </label>
        </li>
      </ul>
    </fieldset>
  </strong>
</form>
<lable for="title"> Title: </lable>
